.cardSaveEvent {
    background-color: #343a40;
    color: #ffffff;
    border: 1px solid #474f57;
    margin-left: 40px;
}

.card-bodySaveEvent{

    background-color: #1d2124;
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
}

.card-bodySaveEvent img{
    width: 100%;
    height: 200%;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
}
.card-headerSaveEvent,
.card-titleSaveEvent,
.card-footerSaveEvent {
     align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    
}

.card-titleSaveEvent {
    font-size: 1.25rem;
    justify-content: center;
}

.card-textSaveEvent {
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.view-more {
    cursor: pointer;
    color: #007bff;
}

.view-more:hover {
    text-decoration: underline;
}



/* @media only screen and (min-width: 600px) and (max-width: 900px) {
    .card-bodySaveEvent{

        background-color: #1d2124;
        flex: 1;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;  
    }
    
   
    .cardSaveEvent {
        display: flex;
        flex-direction: column;
        width: 300px;
        max-width: 300px;
        min-height: 300px;  
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;  
    }

    .card-titleSaveEvent {
        font-size: 1.2rem;
    }

    .card-textSaveEvent {
        font-size: 0.875rem;
    }

 } */

@media only screen and (min-width: 1500px) and (max-width: 2560px) {
    .cardSaveEvent {
        display: flex;
        flex-direction: column;
        width: 300px;
        max-width: 370px;
        min-height: 300px;  
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;  
    }

    .card-titleSaveEvent {
        font-size: 1.2rem;
    }

    .card-textSaveEvent {
        font-size: 0.875rem;
    }
}


